UNLINE_ADDR=127.0.0.1:8080
UNLINE_ASSETS_DIR=./www
UNLINE_ALLOWED_HOSTS=localhost,127.0.0.1,::1
UNLINE_PROXY_TIMEOUT=30s
UNLINE_MAX_BODY_BYTES=33554432
UNLINE_FORWARD_COOKIES=false
UNLINE_FORWARD_AUTHORIZATION=false
UNLINE_BASIC_AUTH_USERNAME=unline
UNLINE_BASIC_AUTH_PASSWORD_HASH=
UNLINE_BASIC_AUTH_REALM=unline
